@import "tailwindcss";

/* Body / Main Layout */
body {
  margin: 0;
  font-family: 'Josefin Sans', 'Gill Sans', 'Century Gothic', 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  background-color: white;
  position: relative;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 9px;
}
h2 {
  font-size: 32px;
  letter-spacing: 7px;
}
h3 {
  font-size: 24px;
  letter-spacing: 4px;
}
h4 {
  font-size: 20px;
  letter-spacing: 2px;
}
h1, h2, h3 {
  text-transform: uppercase;
  line-height: 100%;
}
h2, h3, h4 {
  font-weight: 600;
}
p {
  font-size: 18px;
}