@import "tailwindcss";

/* Body / Main Layout */
body {
  margin: 0;
  font-family: 'Josefin Sans', 'Gill Sans', 'Century Gothic', 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  background-color: white;
  position: relative;
}

/* Background */
.bg-primary {
  background: #f8f7f2;
}

/* Button */
.btn {
  cursor: pointer;
}
a.btn-link {
  color: orange;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-link {
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 6px 12px;
}
.nav-link:hover {
  border: 2px solid #2C7A7B;
}

/* Typography */
h1 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 9px;
}
h2 {
  font-size: 32px;
  letter-spacing: 7px;
}
h3 {
  font-size: 24px;
  letter-spacing: 4px;
}
h4 {
  font-size: 20px;
  letter-spacing: 2px;
}
h1, h2, h3 {
  text-transform: uppercase;
  line-height: 100%;
}
h2, h3, h4 {
  font-weight: 600;
}
p {
  font-size: 18px;
}

/* Work Box */
.work-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem;
}
.work-box {
  min-width: 40vw;
  height: 25vw;
  border-radius: 1rem;
  flex-shrink: 0;
  color: white;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.work-box:first-child {
  margin-left: 5vw;
}
.work-box:hover {
  transform: scale(1.05);
}
.work-box-content {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1rem;
}